HELP.md
target/
.mvn/wrapper/
**/src/main/**/target/
**/src/test/**/target/
mvnw
mvnw.cmd

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Maven
target/
dist/

# Compiled Java class files
*.class

# Log files
*.log

# Package files
*.jar


### VS Code ###
.vscode/
