<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Company</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<form method="POST" th:action="@{/companies}" th:object="${company}">
    <h1>Credit conveyor company</h1>
    <img th:src="@{/images/CreditConveyor.jpg}" class="credit-conveyor-logo" alt="Credit conveyor"/>
    <a th:href="@{/design}" id="another">Design another taco</a><br/>
    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Please correct the problems below and resubmit.
        </span>
    </div>
    <h3>New company details...</h3>
    <label for="name">Name: </label>
    <input id="name" type="text" th:field="*{name}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">Name is required</span>
    <br/>
    <label for="address">Address: </label>
    <input id="address" type="text" th:field="*{address}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('address')}"
          th:errors="*{address}">Address is required</span>
    <br/>
    <input type="submit" value="Create company"/>
</form>
</body>
</html>